
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 40px 80px;
}

main {
    display:flex;
}

.little {
    display: flex;
}

.margin {
    margin-top: 100pt;
    margin-bottom: 100pt;
    text-size-adjust: ;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
}

#navbar ul li{
    list-style: none;
    padding: 0 20px;
}
